In [2]:
import pandas as pd

In [3]:
pays_coor=pd.read_csv('fichiers/pays_avec_coordonnées.csv')

In [18]:
pays_coor[pays_coor.NOM=='Suriname']

,NOM,NOM_ALPHA,CODE,ARTICLE,NOM_LONG,CAPITALE,longitude,latitude
173,Suriname,Suriname,SUR,le,République du Suriname,Paramaribo,-56.027783,3.919305

In [7]:
data=data.set_index('NOM')
data.head()

,NOM_ALPHA,CODE,ARTICLE,NOM_LONG,CAPITALE,longitude,latitude
NOM,,,,,,,
Afghanistan,Afghanistan,AFG,l',République islamique d'Afghanistan,Kaboul,67.709953,33.939110
Afrique du Sud,Afrique du Sud,ZAF,l',République d'Afrique du Sud,Prétoria,22.937506,-30.559482
Albanie,Albanie,ALB,l',République d'Albanie,Tirana,20.168331,41.153332
Algérie,Algérie,DZA,l',République algérienne démocratique et populaire,Alger,1.659626,28.033886
Allemagne,Allemagne,DEU,l',République fédérale d'Allemagne,Berlin,10.451526,51.165691

In [8]:
stri='senegal'
stri.upper()

'SENEGAL'

In [9]:
stri='Sénégal'
stri.upper()

'SÉNÉGAL'