# Intéragir avec notre base de données

Visualisations de nos données sous forme de DataFrame, avec les mêmes colonnes que dans notre BDD MySQL

In [1]:
import pandas as pd

In [26]:
categories = ['Travel', 'Lifestyle', 'Fashion Homme', 'Fashion Femme', 'Food', 'Humour',"Media d'influence", 'Chanteurs', 'Chanteuses',
              'Danseurs', 'Influenceur espoir', 'Figure Entrepreneur', "Award d'honneur"]

In [27]:
categories = pd.DataFrame(categories, columns=['categorie'])

In [28]:
categories

              categorie
0                Travel
1             Lifestyle
2         Fashion Homme
3         Fashion Femme
4                  Food
5                Humour
6     Media d'influence
7             Chanteurs
8            Chanteuses
9              Danseurs
10   Influenceur espoir
11  Figure Entrepreneur
12      Award d'honneur

In [44]:
influenceurs = {('SILVIA NJOKI', 1), ('ERICK PRINCE', 1), ('WINNIE RIOBA', 1), ('AMARACHI EKEKWE', 1), ('ELTON ANDERSON JR', 1),
               ('MILLY MIRA', 1), ('AAMITO LAGUM', 2), ('SHARON MUNDIA', 2), ('NATACHASAMA', 2), ('SOBEKWA TWINS', 2),
               ('FANTA KONE', 2), ('ABEER SINDER', 2), ('TREVOR STRUURMAN', 3), ('LOURENS GEBHARTD', 3), ('ARONE CROSS', 3),
               ('ERNEST DINKU JR', 3), ('IGEE OKAFOR', 3), ('STEVEN ONOJA', 3), ('MELODY MOLALE', 4), ('BENGINE ELISCAR', 4),
               ('AFUA RIDA', 4), ('ANERLISA MUIGAI', 4), ('ONYI MOSS', 4), ('LAMIC KIRABO', 4), ('KARELL VIGNON VULLIERME', 5),
               ('HADIZA LAWAL', 5), ('BLACK FOODIE', 5), ('DUDE THAT COOKZ', 5), ('ESSIESPIECE', 5), ('IMMACULATESBITES', 5),
               ('MICHAEL BLACKSON', 6), ('KAYVON STEEZIE', 6), ('NWE', 7), ('AFRIQUETTE', 7), ('INVESTIR AU PAYS', 7),
               ('ROOTS MAGAZINE', 7), ('BURNA BOY', 8), ('DIAMOND PLATNUMZ', 8), ('KWESI ARTHUR', 8), ('DADJU', 8), ('TAYC', 8),
               ('ROTIMI', 8), ('AYA NAKAMURA', 9), ('WENDY SHAY', 9), ('SHAN’L', 9), ('YEMI ALADE', 9), ('SHO MADJOZI', 9),
                ('TIWA SAVAGE', 9), ('JENY BSG', 10), ('LA PETITE ZOTA', 10), ('BAD GYAL CASSIE', 10), ('LES TWINS', 10), ('TWIN 225 OFFICIEL', 10),
               ('PAPA SCRIPT', 10), ('DOKOLOSS', 11), ('CRAZY SALLY', 11), ('UGO MOZIE', 12), ('THIONE NIANG', 12), ('OBINNA OKWODU', 12),
               ('HAPSATOU SY', 12), ('BOZOMA SAINT JOHN', 12), ('THABISO MALAPE', 12), ("FATOU N'DIAYE", 13)}

In [45]:
influenceurs = pd.DataFrame(influenceurs, columns=['nom_influenceur', 'id_categorie'])

In [46]:
influenceurs = influenceurs.sort_values(['id_categorie'])
influenceurs

      nom_influenceur  id_categorie
27         MILLY MIRA             1
55  ELTON ANDERSON JR             1
21       SILVIA NJOKI             1
34       WINNIE RIOBA             1
6     AMARACHI EKEKWE             1
..                ...           ...
5           UGO MOZIE            12
19  BOZOMA SAINT JOHN            12
60        HAPSATOU SY            12
52      OBINNA OKWODU            12
11      FATOU N'DIAYE            13

[63 rows x 2 columns]

In [50]:
influenceurs.iloc[0, 0]

'MILLY MIRA'

Connexion à la base de données MySQL

In [36]:
import mysql.connector

Récupération des catégories sous forme de liste

In [37]:
list_categories=[]
for i in range(0, len(categories)):
    list_categories.append(categories.loc[i, 'categorie'])
print(list_categories)

['Travel', 'Lifestyle', 'Fashion Homme', 'Fashion Femme', 'Food', 'Humour', "Media d'influence", 'Chanteurs', 'Chanteuses', 'Danseurs', 'Influenceur espoir', 'Figure Entrepreneur', "Award d'honneur"]

In [34]:
#print("INSERT INTO categorie (id_categorie, nom_categorie) VALUES (NULL, \""+list_categories[0]+"\")")

On insère directement dans notre BDD les différentes catégories

In [38]:
config = {
        'user': 'root',
        'password': '',
        'host': 'localhost',
        'database': 'abdia'
    }

cnx = mysql.connector.connect(**config)
cursor = cnx.cursor()

for i in range(0, len(list_categories)):
    add_categories = ("INSERT INTO categorie (id_categorie, nom_categorie) VALUES (NULL, \""+list_categories[i]+"\")")
    
    cursor.execute(add_categories)
    cnx.commit()
    
cursor.close()
cnx.close()

# Ajout des influenceurs dans notre BDD

On liste les influenceurs de notre DataFrame.

In [51]:
list_influenceurs=[]
for i in range(0, len(influenceurs)):
    list_influenceurs.append(influenceurs.loc[i, 'nom_influenceur'])
print(list_influenceurs)

['DUDE THAT COOKZ', 'PAPA SCRIPT', 'MICHAEL BLACKSON', 'INVESTIR AU PAYS', 'WENDY SHAY', 'UGO MOZIE', 'AMARACHI EKEKWE', 'ANERLISA MUIGAI', 'AFUA RIDA', 'IMMACULATESBITES', 'ERICK PRINCE', "FATOU N'DIAYE", 'FANTA KONE', 'TAYC', 'TREVOR STRUURMAN', 'BLACK FOODIE', 'ROTIMI', 'ARONE CROSS', 'TWIN 225 OFFICIEL', 'BOZOMA SAINT JOHN', 'ABEER SINDER', 'SILVIA NJOKI', 'ERNEST DINKU JR', 'AAMITO LAGUM', 'SOBEKWA TWINS', 'KWESI ARTHUR', 'KARELL VIGNON VULLIERME', 'MILLY MIRA', 'LOURENS GEBHARTD', 'LAMIC KIRABO', 'ONYI MOSS', 'BENGINE ELISCAR', 'KAYVON STEEZIE', 'IGEE OKAFOR', 'WINNIE RIOBA', 'DIAMOND PLATNUMZ', 'AYA NAKAMURA', 'SHARON MUNDIA', 'ESSIESPIECE', 'CRAZY SALLY', 'TIWA SAVAGE', 'MELODY MOLALE', 'BAD GYAL CASSIE', 'THABISO MALAPE', 'SHAN’L', 'HADIZA LAWAL', 'LA PETITE ZOTA', 'DOKOLOSS', 'STEVEN ONOJA', 'NATACHASAMA', 'BURNA BOY', 'THIONE NIANG', 'OBINNA OKWODU', 'NWE', 'YEMI ALADE', 'ELTON ANDERSON JR', 'ROOTS MAGAZINE', 'DADJU', 'SHO MADJOZI', 'LES TWINS', 'HAPSATOU SY', 'AFRIQUETTE', 'JENY BSG']

In [53]:
len(list_influenceurs)

63

On liste les id des catégories associées aux influenceurs de notre DataFrame.

In [52]:
list_id_cat=[]
for i in range(0, len(influenceurs)):
    list_id_cat.append(influenceurs.loc[i, 'id_categorie'])
print(list_id_cat)

[5, 10, 6, 7, 9, 12, 1, 4, 4, 5, 1, 13, 2, 8, 3, 5, 8, 3, 10, 12, 2, 1, 3, 2, 2, 8, 5, 1, 3, 4, 4, 4, 6, 3, 1, 8, 9, 2, 5, 11, 9, 4, 10, 12, 9, 5, 10, 11, 3, 2, 8, 12, 12, 7, 9, 1, 7, 8, 9, 10, 12, 7, 10]

In [54]:
len(list_id_cat)

63

In [60]:
#print("INSERT INTO influenceur (id_influenceur, nom_influenceur, id_categorie) VALUES (NULL, \""+list_influenceurs[0]+"\", "+str(list_id_cat[0])+''")")

On ajoute les données qui correspondent à notre table influenceurs

In [59]:
config = {
        'user': 'root',
        'password': '',
        'host': 'localhost',
        'database': 'abdia'
    }

cnx = mysql.connector.connect(**config)
cursor = cnx.cursor()

for i in range(0, len(list_influenceurs)):
    add_influenceurs = ("INSERT INTO influenceur (id_influenceur, nom_influenceur, id_categorie) VALUES (NULL, \""+list_influenceurs[i]+"\", "+str(list_id_cat[i])+''")")
    
    cursor.execute(add_influenceurs)
    cnx.commit()
    
cursor.close()
cnx.close()